@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat-Light";
}

body {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/neom-anozjF6uqI0-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    text-align: center;
}

header {
    width: 100vw;
    background-color: rgba(7, 7, 7, 0.7);
    background-blend-mode: color;
    color: whitesmoke;
    padding: 1rem 0;
}
